body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    background-color: #e3e2fe;

}

.background{
    background-image: url("concert_purple.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    width:100%;
} 


h1 {
    text-align: center;
    color: navy;
    font-size: 7rem;
    margin-top: 0.01rem;
    filter:drop-shadow(rgb(68, 68, 68) 0.2rem 0.2rem 10px)
}
h2 {
    text-align: center;
    margin-top: 0.01rem;
    font-size: 5rem;
    color: navy
    
}
h3, h4 {
    font-family: 'Cinzel Decorative', cursive;
    color: #2a2a2a;
  }
h3{
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
h4 {
    margin-top: .4rem;
    margin-bottom: 0rem;
}

.intro {
    font-size: 1.5rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;

}
p {
    margin: 1%;
}
ul {
    margin: 0;
    list-style-type: square;

}

img {
    width: 90%;
    height: 90%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
#img:hover{
    box-shadow: inset 700px 0 0 0 #FADBE4;
}

.event {
    margin: 2.5%;
    padding: 2.5%;
    background-color:#fff8e2;
    border-radius: 1.5em 1.5em 0 0;
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-color: #FADBE4;
    border-width: 1rem;
}
#background:hover {
    color: blueviolet;
}
.img_wrapper {
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 400px) {
    body {
        margin-left: 5%;
        margin-right: 5%;
    }

    .event_wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .img_wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 401px) {
    body {
        margin-left: 10%;
        margin-right: 10%;
    }
    .event_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid: flex;
    }

    .img_wrapper {
        display: grid;
        display: inline;
        grid-template-columns: 1fr 1fr;

    }
}